.attractions {
  border: none;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;

  &__title {
    margin: 0;
    padding: 24px 23px 20px;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      font-size: 21px;
      width: 308px;
      padding: 0;
      padding-bottom: 28px;
    }

    @media (min-width: $desktop-width) {
      font-size: 21px;
      width: 306px;
      padding: 0;
      padding-bottom: 28px;
    }
  }

  &__list {
    list-style-type: none;
    margin: 0;
    margin-bottom: 14px;
    padding: 0;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 224px 224px;
      column-gap: 32px;
      row-gap: 16px;
      margin: 0;
      padding: 28px 84px 42px;
    }

    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 172px 170px 153px 184px;
      gap: 64px;
      margin: 0;
      padding: 31px 44px;
    }
  }

  &__item {
    padding: 10px 0 10px;
    display: flex;
  }

  &__item:not(:last-child) {
    margin-bottom: 16px;

    @media (min-width: $tablet-width) {
      margin: 0;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
    }
  }

  &__item-bridge {
    position: relative;
  }

  &__mark {
    position: absolute;
    width: 46px;
    height: 46px;
    top: -10px;
    background: rgba(242, 242, 242, 1);
    border-radius: 4px;

    .attractions__item-input:checked + & {
      width: 46px;
      height: 46px;
      background-image: url("../../img/tick.svg");
      background-repeat: no-repeat;
      background-position: center center;
      content: "";
    }

    .attractions__item-bridge:hover &,
    .attractions__item-mountain:hover &,
    .attractions__item-park:hover &,
    .attractions__item-rock:hover & {
      background-color: rgba(229, 229, 229, 1);
    }

    .attractions__item-bridge:active &,
    .attractions__item-mountain:active &,
    .attractions__item-park:active &,
    .attractions__item-rock:active {
      background-color: rgba(213, 213, 213, 1);
      opacity: 0.3;
    }
  }

  &__label {
    padding-left: 62px;
  }

  &__item-mountain {
    position: relative;
  }

  &__item-park {
    position: relative;
  }

  &__item-rock {
    position: relative;
  }
}
