.attractions {
  border: none;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;

  &__title {
    margin: 0;
    padding: 24px 23px 20px;
    text-transform: uppercase;
  }

  &__list {
    list-style-type: none;
    margin: 0;
    margin-bottom: 14px;
    padding: 0;
  }

  &__item {
    padding: 10px 0 10px;
    display: flex;
  }

  &__item:not(:last-child) {
    margin-bottom: 16px;
  }

  // &__item--checked {
  // }

  // &__item-bridge {
  // }

  // &__item-input {
  // }

  // &__item-mountain {
  // }

  // &__item-park {
  // }

  // &__item-rock {
  // }
}
