.page {
  height: 100%;

  &__body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    margin: 0;
    padding: 0;
    width: 320px;
    background-color: rgba(255, 255, 255, 1);

    @font-face {
      font-family: "PT Sans";
      font-style: normal;
      font-weight: 400;
      src: url("../../fonts/ptsans.woff2") format("woff2");
      font-display: swap;
    }

    @font-face {
      font-family: "PT Sans";
      font-style: normal;
      font-weight: 700;
      src: url("../../fonts/ptsansbold.woff2") format("woff2");
      font-display: swap;
    }
  }

  &__body-wrapper {
    width: 284px;
    padding: 0 18px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 1);

    @media (min-width: $tablet-width) {
      display: block;
      width: 768px;
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      display: block;
      width: 1200px;
      margin: 0 auto;
      padding: 0 40px;
    }
  }

  &__secondary-header {
    width: 320px;
    margin-left: -20px;
  }
}
