.button {
  font-family: "PT Sans", "Arial", sans-serif;
  width: 281px;
  height: 58px;
  margin: 0 auto;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(129, 179, 210, 1);
  padding: 0;
  border: 0;
  cursor: pointer;

  &:hover {
    background-color: rgba(102, 158, 192, 1);
  }

  &:focus {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgba(84, 150, 189, 1);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgba(84, 150, 189, 1);
  }

  &-disabled:disabled {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(229, 229, 229, 1);
  }
}
