.catalog-container {
  &__presentation {
    margin: 0 auto;
    padding: 0 18px;

    @media (min-width: $tablet-width) {
      padding: 0 60px;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
    }
  }

  &__heading-block {
    margin: 17px 22px 38px;

    @media (min-width: $tablet-width) {
      width: 445px;
      margin: 57px auto 90px;
    }

    @media (min-width: $desktop-width) {
      width: 445px;
      margin: 62px auto 87px;
    }
  }

  &__video {
    display: block;
    margin: 0;
    width: 280px;
    height: 177px;
    background-color: rgba(255, 255, 255, 1);

    @media (min-width: $tablet-width) {
      width: 648px;
      height: 500px;
      margin-bottom: 40px;
    }

    @media (min-width: $desktop-width) {
      width: 800px;
      height: 500px;
      margin: 0 auto 84px;
    }
  }
}
