.controls-list {
  &--secondary {
    @media (min-width: $tablet-width) {
      margin-left: auto;
    }

    @media (min-width: $desktop-width) {
      margin-left: auto;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;

    &:nth-last-child(1) {
      padding-bottom: 40px;

      @media (min-width: $tablet-width) {
        padding-bottom: 18px;
      }

      @media (min-width: $desktop-width) {
      }
    }

    &--info {
      flex-wrap: wrap;
      flex-direction: row;
      padding-bottom: 16px;

      &:nth-last-child(1) {
        padding-bottom: 40px;
      }

      @media (min-width: $tablet-width) {
        width: 280px;
        margin-left: auto;
      }

      @media (min-width: $desktop-width) {
        width: 402px;
        margin-left: auto;
      }
    }
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    min-width: 75px;
    margin: 0;
    margin-left: 18px;
    text-transform: uppercase;
    text-align: start;

    @media (min-width: $tablet-width) {
      margin-left: 16px;
    }

    @media (min-width: $desktop-width) {
    }
  }

  &__input {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    padding: 19px 17px 13px 18px;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(242, 242, 242, 1);
    border: none;
    letter-spacing: -1.4px;

    @media (min-width: $tablet-width) {
      padding: 18px 17px 13px 15px;
    }

    @media (min-width: $desktop-width) {
    }

    &:hover {
      background-color: rgba(229, 229, 229, 1);
    }

    &:active {
      background-color: rgba(255, 255, 255, 1);
      outline: 4px solid rgba(229, 229, 229, 1);
    }

    &::placeholder {
      color: rgba(0, 0, 0, 0.3);
    }

    &--info {
      position: relative;
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;
      width: 222px;
      padding: 19px 17px 13px;
      color: rgba(0, 0, 0, 1);
      background-color: rgba(242, 242, 242, 1);
      border: none;
      box-sizing: border-box;

      &:hover {
        background-color: rgba(229, 229, 229, 1);
      }

      &:active {
        background-color: rgba(255, 255, 255, 1);
        outline: 4px solid rgba(229, 229, 229, 1);
      }

      &::placeholder {
        color: rgba(0, 0, 0, 0.3);
      }

      @media (min-width: $desktop-width) {
        width: 344px;
      }
    }
  }

  &__connection {
    position: relative;
    width: 58px;
    height: 58px;
    background-color: rgba(230, 230, 230, 1);
  }

  &__connection-item {
    position: absolute;
    top: 22px;
    right: 20px;
  }
}
