
.contacts {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    width: 324px;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
    width: 480px;
    margin: 0;
    padding: 0;
  }
}
