.copyright {
  display: flex;
  justify-content: center;

  &:hover &__text,
  &:hover &__link {
    color: rgba(129, 179, 210, 1);
  }

  &:active &__text,
  &:active &__link {
    color: rgba(179, 179, 179, 1);
  }

  &__text {
    width: 115px;
    margin: 7px 0 29px;
    word-break: break-all;

    @media (min-width: $tablet-width) {
      margin: 50px auto;
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      margin: 50px 0;
      padding: 0;
    }
  }

  &__link {
    width: 27px;
    height: 35px;
    margin-bottom: 0;
    color: rgba(0, 0, 0, 1);

    @media (min-width: $tablet-width) {
      margin: 43px auto;
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      margin: 43px auto;
      padding: 0;
    }
  }
}
