.emotions {
  position: relative;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    &::before {
      position: absolute;
      content: "";
      top: 4%;
      left: 0;
      width: 123px;
      height: 1px;
      background-color: rgba(219, 219, 219, 1);
    }

    &::after {
      position: absolute;
      content: "";
      top: 4%;
      right: 0;
      width: 123px;
      height: 1px;
      background-color: rgba(219, 219, 219, 1);
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      position: absolute;
      content: "";
      top: 4%;
      left: -12%;
      width: 280px;
      height: 1px;
      background-color: rgba(219, 219, 219, 1);
    }

    &::after {
      position: absolute;
      content: "";
      top: 4%;
      right: -12%;
      width: 280px;
      height: 1px;
      background-color: rgba(219, 219, 219, 1);
    }
  }

  &__text {
    margin: 0;
    padding-top: 34px;
    padding-bottom: 20px;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      position: relative;
      font-size: 21px;
      padding: 0;
      padding-bottom: 28px;
    }

    @media (min-width: $desktop-width) {
      font-size: 21px;
      padding: 0;
      padding-bottom: 28px;
    }
  }

  &__description-input {
    font-family: "PT Sans", "Arial", sans-serif;
    align-items: center;
    width: 279px;
    height: 150px;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 56px;
    padding: 16px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 1);

    &::placeholder {
      color: rgba(0, 0, 0, 0.3);
    }

    &:-moz-placeholder {
      opacity: 1;
    }

    @media (min-width: $tablet-width) {
      width: 648px;
      height: 160px;
      padding-top: 16px;
      padding-left: 16px;
      margin: 0;
      margin-bottom: 48px;
    }

    @media (min-width: $desktop-width) {
      width: 768px;
      padding-top: 16px;
      padding-left: 16px;
      margin: 0;
      margin-bottom: 48px;
    }
  }
}
