.emotions {
  font-family: "PT Sans";

  &__text {
    margin: 0;
    padding-top: 24px;
    padding-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
  }

  &__description-input {
    width: 279px;
    height: 150px;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 56px;
  }
}
