.foto-list {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  align-items: flex-start;
  list-style-type: none;

  &__item {
    margin: 0 auto;
    padding: 45px 0 5px;

    @media (min-width: $tablet-width) {
      margin: 0;
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      position: relative;
      margin: 0;
      padding: 0;
    }
  }

  &__text-like {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      background-color: rgba(242, 242, 242, 1);

      @media (min-width: $desktop-width) {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        bottom: 0;
        color: rgba(255, 255, 255, 1);
      }
    }

    &--first {
      @media (min-width: $tablet-width) {
        display: flex;
        flex-wrap: wrap;
      }

      @media (min-width: $desktop-width) {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        bottom: 0;
        color: rgba(255, 255, 255, 1);
      }
    }

    &--north {
      @media (min-width: $tablet-width) {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        background-color: rgba(234, 234, 234, 1);
      }

      @media (min-width: $desktop-width) {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        bottom: 0;
        color: rgba(255, 255, 255, 1);
      }
    }
  }

  &__image {
    display: block;
    width: 280px;
    height: 280px;

    &--road {
      display: block;
      margin: 0;
      width: 280px;
      height: 280px;
      background-color: rgba(255, 255, 255, 1);

      @media (min-width: $tablet-width) {
        width: 648px;
        height: 400px;
      }

      @media (min-width: $desktop-width) {
        width: 1200px;
        height: 400px;
      }
    }

    &--flower {
      display: block;
      margin: 0;
      width: 280px;
      height: 280px;
      background-color: rgba(255, 255, 255, 1);

      @media (min-width: $tablet-width) {
        width: 324px;
        height: 267px;
      }

      @media (min-width: $desktop-width) {
        width: 400px;
        height: 267px;
      }
    }

    &--landscape {
      display: block;
      margin: 0;
      width: 280px;
      height: 280px;
      background-color: rgba(255, 255, 255, 1);

      @media (min-width: $tablet-width) {
        width: 324px;
        height: 267px;
      }

      @media (min-width: $desktop-width) {
        width: 400px;
        height: 267px;
      }
    }

    &--canyon {
      display: block;
      margin: 0;
      width: 280px;
      height: 280px;
      background-color: rgba(255, 255, 255, 1);

      @media (min-width: $tablet-width) {
        width: 324px;
        height: 267px;
      }

      @media (min-width: $desktop-width) {
        width: 400px;
        height: 267px;
      }
    }
  }

  &__text-wrapper--main {
    @media (min-width: $tablet-width) {
      max-width: 550px;
      margin: 22px 0 15px 20px;
    }

    @media (min-width: $desktop-width) {
      max-width: 1100px;
      margin: 20px 0 15px 20px;
    }
  }

  &__text-wrapper {
    @media (min-width: $tablet-width) {
      max-width: 210px;
      margin: 22px 0 15px 20px;
    }

    @media (min-width: $desktop-width) {
      max-width: 300px;
      margin: 22px 0 15px 20px;
    }

    &-second {
      @media (min-width: $tablet-width) {
        margin-top: 21px;
      }

      @media (min-width: $desktop-width) {
        margin-top: 17px;
      }
    }
  }

  &__wrapper-like {
    @media (min-width: $tablet-width) {
      min-width: 48px;
      margin: 28px 20px 28px auto;
    }
  }

  &__svg-color {
    color: rgba(0, 0, 0, 0.3);

    @media (min-width: $desktop-width) {
      color: rgba(255, 255, 255, 1);
    }
  }

  &__heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    text-align: left;
    margin: 15px 0 2px 2px;
    word-break: break-all;

    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }

  &__autor {
    display: flex;
    justify-content: start;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin: 0;
    margin-bottom: 11px;
    text-transform: none;

    @media (min-width: $tablet-width) {
      margin: 0;
    }

    @media (min-width: $desktop-width) {
      margin-left: 2px;
    }
  }
}
