.main-header {
  &__main-nav {
    @media (min-width: $tablet-width) {
      display: block;
    }

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  &__toggle {
    position: absolute;
    width: 23px;
    height: 22px;
    top: 50%;
    right: 18px;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

  // &__logo-link {
  // }

  // &__logo-image {
  // }

