.main-header {
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  display: block;
  width: 284px;

  &__logo-wrapper {
    display: block;
    margin: 0 auto;
    margin-bottom: -40px;
    width: 185px;
    height: 96px;
  }

  &__logo-link {
  }

  &__logo-image {
  }

  &__toggle {
    position: absolute;
    width: 23px;
    height: 22px;
    top: 50%;
    right: 18px;
  }
}
