.hotel-search {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding: 39px 0 32px;

  &__text-wrapper {
    @media (min-width: $tablet-width) {
      padding: 61px 166px 41px;
    }

    @media (min-width: $desktop-width) {
      padding: 60px 382px 46px;
    }
  }

  &__interest {
    font-size: 21px;
    margin: 0;
    padding: 0;
    padding-bottom: 35px;

    @media (min-width: $tablet-width) {
      font-weight: 700;
      font-size: 30px;
      line-height: 26px;
    }

    @media (min-width: $desktop-width) {
      font-weight: 700;
      font-size: 30px;
      line-height: 26px;
    }
  }

  &__paragraph-data {
    font-weight: 400;
    margin: 0;
    padding-bottom: 32px;

    @media (min-width: $tablet-width) {
      line-height: 26px;
    }

    @media (min-width: $desktop-width) {
      line-height: 26px;
    }
  }

  &__map {
    display: block;
    margin-bottom: 10px;
    background-image: url("../../img/gallery/map-mobile.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 320px;
    height: 350px;

    @media (min-width: $tablet-width) {
      width: 768px;
      height: 350px;
      margin: 0;
    }

    @media (min-width: $desktop-width) {
      width: 1200px;
      height: 350px;
      margin: 0;
    }
  }
}
