.hotel-search {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 39px;

  &__text-wrapper {
    @media (min-width: $tablet-width) {
      padding: 20px 166px 12px;
    }

    @media (min-width: $desktop-width) {
      padding: 20px 382px 8px;
    }
  }

  &__interest {
    font-size: 21px;
    margin: 0;
    padding: 0;
    padding-bottom: 21px;

    @media (min-width: $tablet-width) {
      font-weight: 700;
      font-size: 30px;
      line-height: 26px;
      padding-bottom: 30px;
    }

    @media (min-width: $desktop-width) {
      font-weight: 700;
      font-size: 30px;
      line-height: 26px;
    }
  }

  &__paragraph-data {
    width: 261px;
    font-weight: 400;
    line-height: 21px;
    margin: 0 auto;
    padding-bottom: 32px;

    br {
      display: none;
    }

    @media (min-width: $tablet-width) {
      br {
        display: block;
      }
      line-height: 21px;
      width: 100%;
      margin: 0;
      text-align: center;
    }

    @media (min-width: $desktop-width) {
      line-height: 23px;
      padding-bottom: 38px;
    }
  }

  &__map {
    display: block;
    width: 320px;
    height: 350px;

    @media (min-width: $tablet-width) {
      display: block;
      width: 768px;
      height: 350px;
      margin: 0;
    }

    @media (min-width: $desktop-width) {
      display: block;
      width: 1200px;
      height: 350px;
      margin: 0;
    }
  }
}
