.impressions {
  position: relative;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 21px;

    &::before {
      position: absolute;
      content: '';
      top: -12px;
      left: 0;
      width: 123px;
      height: 1px;
      background-color: rgba(219, 219, 219, 1);
    }

    &::after {
      position: absolute;
      content: '';
      top: -12px;
      right: 0;
      width: 123px;
      height: 1px;
      background-color: rgba(219, 219, 219, 1);
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;

    &::before {
      position: absolute;
      content: '';
      top: -50%;
      left: 0;
      width: 280px;
      height: 1px;
      background-color: rgba(219, 219, 219, 1);
    }

    &::after {
      position: absolute;
      content: '';
      top: -50%;
      right: 0;
      width: 280px;
      height: 1px;
      background-color: rgba(219, 219, 219, 1);
    }
  }

  &__title {
    position: relative;
    margin: 0;
    padding: 20px 20px;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      padding: 0;
      padding-bottom: 1px;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
      padding-bottom: 28px;
    }
  }

  &__list {
    list-style-type: none;
    margin: 0;
    margin-bottom: 24px;
    padding: 0;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 280px 280px;
      gap: 16px;
      padding: 28px 36px 6px;
      margin: 0;
    }

    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 280px 280px 238px;
      gap: 28px;
      padding: 17px 53px;
    }
  }

  &__item {
    margin: 0;
    margin-right: auto;
    padding: 10px 0 10px;
    min-width: 238px;
    text-align: end;
    display: flex;

    @media (min-width: $tablet-width) {
      text-align: left;
      font-size: 18px;
    }

    @media (min-width: $desktop-width) {
      text-align: left;
      font-size: 18px;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 16px;

    @media (min-width: $tablet-width) {
      margin: 0;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
    }
  }

  &__item-input {
    margin: 0;
  }

  &__mark {
    position: absolute;
    width: 46px;
    height: 46px;
    top: -10px;
    background: rgba(242, 242, 242, 1);
    border-radius: 50%;

    .impressions__item-input[type="radio"]:checked + &::before {
      position: absolute;
      width: 16px;
      height: 16px;
      top: 15px;
      left: 15px;
      background-color: rgba(51, 51, 51, 1);
      border-radius: 50%;
      content: "";
    }

    .impressions__item-positively:hover &,
    .impressions__item-negative:hover &,
    .impressions__item-neutral:hover & {
      background-color: rgba(229, 229, 229, 1);
    }

    .impressions__item-positively:active &,
    .impressions__item-negative:active &,
    .impressions__item-neutral:active & {
      background-color: rgba(213, 213, 213, 1);
      opacity: 0.3;
    }
  }

  &__label {
    padding-left: 64px;

    @media (min-width: $tablet-width) {
      padding-left: 62px;
    }

    @media (min-width: $desktop-width) {
    }
  }
  // &__item--checked {
  // }

  &__item-positively {
    position: relative;
  }

  // &__item-input {
  //   position: relative;
  // }

  &__item-negative {
    position: relative;
  }

  &__item-neutral {
    position: relative;
  }
}
