.list-wrapper {
  display: flex;

  &__like {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 23px;
    height: 21px;
    margin-right: 14px;

    @media (min-width: $tablet-width) {
      margin-right: 9px;
    }
  }

  &__liked {
    display: flex;
    padding-left: 2px;
    padding-top: 4px;

    @media (min-width: $tablet-width) {
      padding-top: 3px;
    }
  }
}
