.list {
  display: grid;
  grid-template-columns: 320px;
  grid-template-rows: 56px 56px 56px 56px;
  text-decoration: none;
  list-style-type: none;
  background-color: rgba(129, 179, 210, 1);
  z-index: 3;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    margin: 0;
    word-break: break-all;
    background-color: rgba(255, 255, 255, 1);
    z-index: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: center;
    margin: 0;
    word-break: break-all;
    background-color: rgba(255, 255, 255, 1);
    z-index: 0;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(1, 1, 1, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    word-break: break-all;

    &:hover {
      background-color: rgba(102, 158, 192, 1);
    }

    &:active {
      background-color: rgba(84, 150, 189, 1);
    }

    &:active .list__item-link {
      color: rgba(0, 0, 0, 0.3);
    }

    @media (min-width: $tablet-width) {
      justify-content: center;
      width: 153px;
      margin: 0;
      padding-top: 18px;
      padding-bottom: 18px;
      word-break: break-all;

      &:hover {
        background-color: rgba(255, 255, 255, 1);
      }

      &:hover &-link {
        color: rgba(129, 179, 210, 1);
      }

      &:focus &-link {
        color: rgba(0, 0, 0, 0.3);
      }

      &:active,
      &:active .list__item-link {
        color: rgba(0, 0, 0, 0.3);
      }
    }

    @media (min-width: $desktop-width) {
      width: 240px;
      margin: 0;
      padding-top: 18px;
      padding-bottom: 18px;
      word-break: break-all;

      &:hover &-link {
        color: rgba(129, 179, 210, 1);
      }

      &:focus &-link {
        color: rgba(0, 0, 0, 0.3);
      }

      &:active,
      &:active .list__item-link {
        color: rgba(0, 0, 0, 0.3);
      }
    }
  }

  &__item--hidden {
    display: none;

    @media (min-width: $tablet-width) {
      display: flex;
    }

    @media (min-width: $desktop-width) {
      display: flex;
    }
  }

  .main-nav--opened &__item--first {
    padding-left: 60px;
    padding-right: 60px;

    @media (min-width: $tablet-width) {
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
    }
  }

  &__item-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    width: 320px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: rgba(255, 255, 255, 1);

    @media (min-width: $tablet-width) {
      color: rgba(0, 0, 0, 1);
    }

    @media (min-width: $desktop-width) {
      color: rgba(0, 0, 0, 1);
    }

    &--current {
      font-weight: 700;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      color: rgba(255, 255, 255, 1);

      @media (min-width: $tablet-width) {
        color: rgba(118, 99, 87, 1);
      }

      @media (min-width: $desktop-width) {
        color: rgba(118, 99, 87, 1);
      }
    }
  }
}
