.main-content {
  &__list {
    margin: 0;
    padding: 0;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__heading-block {
    margin: 38px auto 28px;
    padding: 0 18px;

    @media (min-width: $tablet-width) {
      width: 520px;
      margin: 48px auto 56px;
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      width: 483px;
      margin: 59px auto;
      padding: 0;
    }
  }

  &__heading-block--form {
    margin: 38px auto 28px;

    @media (min-width: $tablet-width) {
      width: 435px;
      margin: 64px auto 102px;
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      width: 435px;
      margin: 115px auto 74px;
      padding: 0;
    }
  }

  &__heading-block--catalog {
    margin: 33px auto 20px;
    padding: 0 18px;

    @media (min-width: $tablet-width) {
      width: 458px;
      margin: 62px auto;
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      width: 458px;
      margin: 100px auto 65px;
      padding: 0;
    }
  }
}
