.main-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;


  &__block {
    background: rgba(238, 238, 238, 1);
    list-style-type: none;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
    }
  }

  &__secondary {
    padding: 0 18px;
    background: rgba(238, 238, 238, 1);
    list-style-type: none;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: 256px;
      margin: 0;
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: auto;
      margin: 0;
    }
  }

  &__block--primary {
    color: rgba(255, 255, 255, 1);
    background: rgba(129, 179, 210, 1);
  }

  &__block--primary-secondary {
    color: rgba(255, 255, 255, 1);
    background: rgba(129, 179, 210, 1);

    @media (min-width: $tablet-width) {
      flex-direction: row-reverse;
    }

    @media (min-width: $desktop-width) {
      flex-direction: row-reverse;
    }
  }

  &__corner {
    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &__block-text {
    @media (min-width: $tablet-width) {
      padding: 42px 32px;
      width: 256px;
      box-sizing: border-box;
    }

    @media (min-width: $desktop-width) {
      padding: 49px 55px;
      width: 400px;
      box-sizing: border-box;
    }

    &-second {
      @media (min-width: $desktop-width) {
        padding: 49px 85px;
      }
    }
  }

  &__presentation {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    padding: 25px 22px 11px;
    margin: 0;

    @media (min-width: $tablet-width) {
      width: 150px;
      font-size: 21px;
      line-height: 26px;
      margin: 0 auto;
      padding: 0;
      padding-bottom: 12px;
    }

    @media (min-width: $desktop-width) {
      width: 150px;
      font-size: 21px;
      line-height: 26px;
      margin: 0 auto;
      padding: 0;
      padding-bottom: 12px;
    }

    &--primary {
      font-size: 18px;
      line-height: 26px;
      padding: 28px 26px 11px 20px;
      margin: 0;

      @media (min-width: $tablet-width) {
        width: 150px;
        font-size: 21px;
        line-height: 26px;
        margin: 0 auto;
        padding: 0;
        padding-bottom: 10px;
      }

      @media (min-width: $desktop-width) {
        width: 150px;
        font-size: 21px;
        line-height: 26px;
        margin: 0 auto;
        padding: 0;
        padding-bottom: 12px;
      }
    }

    &--primary-second {
      font-size: 18px;
      line-height: 26px;
      padding: 38px 26px 11px 20px;
      margin: 0;

      @media (min-width: $tablet-width) {
        width: 100%;
        font-size: 21px;
        line-height: 26px;
        margin: 0 auto;
        padding: 0;
        padding-bottom: 13px;
      }

      @media (min-width: $desktop-width) {
        width: 100%;
        font-size: 21px;
        line-height: 26px;
        margin: 0 auto;
        padding: 0;
        padding-bottom: 14px;
      }
    }

    &-fourth {
      @media (min-width: $tablet-width) {
        width: 145px;
        font-size: 21px;
        line-height: 26px;
        margin: 0;
        padding: 0;
        padding-bottom: 13px;
      }

      @media (min-width: $desktop-width) {
        width: 150px;
        font-size: 21px;
        line-height: 21px;
        margin: 0 auto;
        padding: 0;
        padding-bottom: 20px;
      }
    }
  }

  &__number {
    padding: 0 22px 17px;
    margin: 0;

    @media (min-width: $tablet-width) {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      margin: 0;
      padding: 0;
      padding-bottom: 24px;
    }

    @media (min-width: $desktop-width) {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      margin: 0;
      padding: 0;
      padding-bottom: 24px;
    }
  }

  &__description {
    padding: 0 18px 25px;
    margin: 0;

    @media (min-width: $tablet-width) {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      margin: 0;
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      margin: 0;
      padding: 0;
    }

    &--primary {
      padding: 0 26px 40px 20px;
      margin: 0;

      @media (min-width: $tablet-width) {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        margin: 0;
        padding: 0;
      }

      @media (min-width: $desktop-width) {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        margin: 0;
        padding: 0;
      }
    }

    &--primary-second {
      padding: 0 26px 36px 20px;
      margin: 0;

      @media (min-width: $tablet-width) {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        margin: 0;
        padding: 0;
      }

      @media (min-width: $desktop-width) {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        margin: 0;
        padding: 0;
      }
    }
  }

  &__foto--first {
    display: block;
    height: 100%;
    margin: 0;
    width: 320px;
    background-color: rgba(255, 255, 255, 1);
    padding: 0;

    @media (min-width: $tablet-width) {
      margin: 0;
      background-color: rgba(255, 255, 255, 1);
      padding: 0;
      width: 512px;
      display: block;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
      background-color: rgba(255, 255, 255, 1);
      padding: 0;
      width: 800px;
      display: block;
    }
  }

  &__foto--secondary {
    display: block;
    margin: 0;
    width: 320px;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    padding: 0;

    @media (min-width: $tablet-width) {
      display: block;
      margin: 0;
      background-color: rgba(255, 255, 255, 1);
      padding: 0;
      width: 512px;
    }

    @media (min-width: $desktop-width) {
      display: block;
      margin: 0;
      background-color: rgba(255, 255, 255, 1);
      width: 800px;
    }
  }

  &__list {
    margin: 0;
    padding: 0 18px 35px;
    background-color: rgba(255, 255, 255, 1);
    list-style-type: none;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
    }
  }

  &__item {
    position: relative;

    @media (min-width: $tablet-width) {
      width: 256px;
    }

    @media (min-width: $desktop-width) {
      width: 400px;
    }
  }

  &__logo {
    position: absolute;

    &--house {
      top: 25px;
      left: 0;

      @media (min-width: $tablet-width) {

        top: 60px;
        left: 90px;
      }

      @media (min-width: $desktop-width) {
        top: 59px;
        left: 161px;
      }
    }

    &--food {
      top: 9px;
      left: 0;

      @media (min-width: $tablet-width) {

        top: 63px;
        left: 88px;
      }

      @media (min-width: $desktop-width) {
        top: 64px;
        left: 161px;
      }
    }

    &--surprise {
      top: 6px;
      left: 0;
      width: 40px;
      height: 40px;

      @media (min-width: $tablet-width) {
        top: 59px;
        right: 0;
        width: auto;
        height: auto;
      }

      @media (min-width: $desktop-width) {
        width: auto;
        height: auto;
      }
    }
  }

  &__logo-house {
    @media (min-width: $tablet-width) {
      width: 75px;
      height: 73px;
    }

    @media (min-width: $desktop-width) {
      width: 75px;
      height: 73px;
    }
  }

  &__logo-food {
    @media (min-width: $tablet-width) {
      width: 76px;
      height: 68px;
    }

    @media (min-width: $desktop-width) {
      width: 75px;
      height: 69px;
    }
  }

  &__logo-surprise {
    @media (min-width: $tablet-width) {
      width: 63px;
      height: 75px;
    }

    @media (min-width: $desktop-width) {
      width: 64px;
      height: 75px;
    }
  }

  &__text {
    @media (min-width: $tablet-width) {
      margin: 0;
      padding: 159px 36px 60px;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
      padding: 160px 58px 80px;
    }

    &--food {
      @media (min-width: $tablet-width) {
        margin: 0;
        padding: 159px 50px 60px;
      }

      @media (min-width: $desktop-width) {
        margin: 0;
        padding: 157px 58px 80px;
      }
    }


    &--surprise {
      @media (min-width: $tablet-width) {
        margin: 0;
        padding: 159px 20px 80px;
      }

      @media (min-width: $desktop-width) {
        margin: 0;
        padding: 157px 58px 60px;
      }
    }
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    min-width: 33px;
    margin: 0;
    color: rgba(0, 0, 0, 1);
    text-align: left;

    &--house {
      padding: 31px 47px 16px;
    }

    &--food {
      padding: 15px 52px 16px;
    }

    &--surprise {
      padding: 14px 44px 16px;
    }

    @media (min-width: $tablet-width) {
      font-size: 21px;
      margin: 0;
      padding: 0;
      padding-bottom: 23px;
      text-align: center;
    }

    @media (min-width: $desktop-width) {
      font-size: 21px;
      margin: 0;
      padding: 0;
      padding-bottom: 23px;
      text-align: center;
    }
  }

  &__pros {
    margin: 0;
    text-align: start;
    color: rgba(51, 51, 51, 1);

    &--house {
      padding: 0 0 16px 47px;
    }

    &--food {
      padding: 0 0 16px 51px;
    }

    &--surprise {
      padding: 0 0 16px 44px;
    }

    @media (min-width: $tablet-width) {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    @media (min-width: $desktop-width) {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      margin: 0;
      padding: 0;
    }
  }

  &__secondary-text {
    @media (min-width: $tablet-width) {
      margin: 0;
      padding: 42px 40px 42px;
    }

    @media (min-width: $desktop-width) {
      width: 400px;
      margin: 0;
      padding: 43px 42px 62px;
      box-sizing: border-box;
    }

    &-fourth {
      @media (min-width: $tablet-width) {
        margin: 0;
        padding: 40px 55px 42px;
        width: 141px;
      }

      @media (min-width: $desktop-width) {
        width: 400px;
        margin: 0;
        padding: 46px 62px 42px;
      }
    }
  }

  &__description--primary-second br {
    display: none;

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}
