.main-list {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;


  &__block {
    background: rgba(238, 238, 238, 1);
    list-style-type: none;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
    }
  }

  &__secondary {
    padding: 0 18px;
    background: rgba(238, 238, 238, 1);
    list-style-type: none;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: 256px;
      margin: 0;
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: auto;
      margin: 0;
    }
  }

  &__block--primary {
    color: rgba(255, 255, 255, 1);
    background: rgba(129, 179, 210, 1);
  }

  &__block--primary-secondary {
    color: rgba(255, 255, 255, 1);
    background: rgba(129, 179, 210, 1);

    @media (min-width: $tablet-width) {
      flex-direction: row-reverse;
    }

    @media (min-width: $desktop-width) {
      flex-direction: row-reverse;
    }
  }

  &__corner {
    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &__block-text {
    @media (min-width: $tablet-width) {
      padding: 42px 32px;
      width: 256px;
      box-sizing: border-box;
    }

    @media (min-width: $desktop-width) {
      padding: 52px 53px;
      width: 400px;
      box-sizing: border-box;
    }
  }

  &__presentation {
    padding: 26px 26px 11px;
    margin: 0;

    @media (min-width: $tablet-width) {
      width: 150px;
      font-size: 21px;
      line-height: 21px;
      margin: 0 auto;
      padding: 0;
      padding-bottom: 20px;
    }

    @media (min-width: $desktop-width) {
      width: 150px;
      font-size: 21px;
      line-height: 21px;
      margin: 0 auto;
      padding: 0;
      padding-bottom: 20px;
    }
  }

  &__number {
    padding: 0 22px 17px;
    margin: 0;

    @media (min-width: $tablet-width) {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      margin: 0;
      padding: 0;
      padding-bottom: 26px;
    }

    @media (min-width: $desktop-width) {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      margin: 0;
      padding: 0;
      padding-bottom: 26px;
    }
  }

  &__description {
    padding: 0 26px 26px;
    margin: 0;

    @media (min-width: $tablet-width) {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      margin: 0;
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      margin: 0;
      padding: 0;
    }
  }

  &__foto--first {
    // background-image: url("../../img/gallery/index/photo-1index.jpg");
    // background-repeat: no-repeat;
    // background-size: 100% auto;
    display: block;
    margin: 0;
    width: 320px;
    height: 260px;
    background-color: rgba(255, 255, 255, 1);
    padding: 0;

    @media (min-width: $tablet-width) {
      // background-image: url("../../img/gallery/index/photo-1index-tablet.jpg");
      // background-repeat: no-repeat;
      // background-size: 100% auto;
      margin: 0;
      background-color: rgba(255, 255, 255, 1);
      padding: 0;
      width: 512px;
      height: 256px;
      display: block;
    }

    @media (min-width: $desktop-width) {
      // background-image: url("../../img/gallery/index/photo-1index-desktop.jpg");
      // background-repeat: no-repeat;
      // background-size: 100% auto;
      margin: 0;
      background-color: rgba(255, 255, 255, 1);
      padding: 0;
      width: 800px;
      height: 256px;
      display: block;
    }
  }

  &__foto--secondary {
    // background-image: url("../../img/gallery/index/photo-2index.jpg");
    // background-repeat: no-repeat;
    // background-size: 100% auto;
    display: block;
    margin: 0;
    width: 320px;
    height: 260px;
    background-color: rgba(255, 255, 255, 1);
    padding: 0;

    @media (min-width: $tablet-width) {
      // background-image: url("../../img/gallery/index/photo-2index-tablet.jpg");
      // background-repeat: no-repeat;
      // background-size: 100% auto;
      display: block;
      margin: 0;
      background-color: rgba(255, 255, 255, 1);
      padding: 0;
      width: 512px;
      height: 256px;
    }

    @media (min-width: $desktop-width) {
      // background-image: url("../../img/gallery/index/photo-2index-desktop.jpg");
      // background-repeat: no-repeat;
      // background-size: 100% auto;
      display: block;
      margin: 0;
      background-color: rgba(255, 255, 255, 1);
      width: 800px;
      height: 256px;
    }
  }

  &__list {
    margin: 0;
    padding: 0 18px;
    background-color: rgba(255, 255, 255, 1);
    list-style-type: none;

    @media (min-width: $tablet-width) {
      display: flex;
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      padding: 0;
    }
  }

  &__item {
    position: relative;

    @media (min-width: $tablet-width) {
      width: 256px;
    }

    @media (min-width: $desktop-width) {
      width: 400px;
    }
  }

  &__logo {
    position: absolute;
    top: 25px;
    left: 18px;

    @media (min-width: $tablet-width) {
      top: 57px;
      left: 91px;
    }

    @media (min-width: $desktop-width) {
      top: 57px;
      left: 154px;
    }
  }

  &__text {
    @media (min-width: $tablet-width) {
      margin: 0;
      padding: 157px 36px 60px;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
      padding: 157px 58px 80px;
    }
  }

  &__title {
    margin: 0;
    padding: 31px 197px 16px 65px;
    color: rgba(0, 0, 0, 1);

    @media (min-width: $tablet-width) {
      font-weight: 700;
      font-size: 21px;
      line-height: 26px;
      margin: 0;
      padding: 0;
      padding-bottom: 16px;
    }

    @media (min-width: $desktop-width) {
      font-weight: 700;
      font-size: 21px;
      line-height: 26px;
      margin: 0;
      padding: 0;
      padding-bottom: 16px;
    }
  }

  &__pros {
    margin: 0;
    padding: 0 30px 22px 65px;
    text-align: start;
    color: rgba(51, 51, 51, 1);

    @media (min-width: $tablet-width) {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    @media (min-width: $desktop-width) {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      margin: 0;
      padding: 0;
    }
  }

  &__secondary-text {
    @media (min-width: $tablet-width) {
      margin: 0;
      padding: 42px 33px 62px;
    }

    @media (min-width: $desktop-width) {
      width: 400px;
      margin: 0;
      padding: 43px 42px 62px;
      box-sizing: border-box;
    }
  }
}
