.main-content {
  &__list {
    margin: 0;
    padding: 0;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__heading-block {
    margin: 25px auto 17px;
    padding: 0 26px 0 22px;

    @media (min-width: $tablet-width) {
      width: 520px;
      margin: 48px auto 56px;
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      width: 487px;
      margin: 59px auto 45px;
      padding: 0;
    }
  }

  &__heading-block--form {
    margin: 38px auto 28px;
    padding: 0;

    @media (min-width: $tablet-width) {
      width: 435px;
      margin: 64px auto 77px;
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      width: 435px;
      margin: 115px auto 44px;
      padding: 0;
    }
  }

  &__heading-block--catalog {
    margin: 33px auto 20px;
    padding: 0 18px;

    @media (min-width: $tablet-width) {
      width: 430px;
      margin: 62px auto 87px;
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      width: 430px;
      margin: 100px auto 89px;
      padding: 0;
    }
  }
}
