.main-container {
  &__section-form {
    padding: 0 18px;

    @media (min-width: $tablet-width) {
      margin: 0;
      padding: 0 60px;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
      padding: 0 120px;
    }
  }

  &--secondary {
    position: relative;
    top: -57px;
  }

  &__intro {
    display: block;
    margin: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);

    @media (min-width: $tablet-width) {
      display: block;
      margin: 0;
      padding: 0;
      height: 518px;
      background-color: rgba(0, 0, 0, 1);
    }

    @media (min-width: $desktop-width) {
      display: block;
      margin: 0;
      padding: 0;
      height: 518px;
      background-color: rgba(0, 0, 0, 1);
    }
  }

  &__intro--form {
    display: block;
    margin: 0;
    height: 214px;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);

    @media (min-width: $tablet-width) {
      display: block;
      width: 768px;
      height: 345px;
      margin: 0;
      padding: 0;
      background-color: rgba(0, 0, 0, 1);
    }

    @media (min-width: $desktop-width) {
      display: block;
      width: 1200px;
      height: 356px;
      margin: 0;
      padding: 0;
      background-color: rgba(0, 0, 0, 1);
    }
  }
}
