.main-container {

  &__intro {
    background-image: url("../../img/gallery/group13.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    margin: 0;
    width: 320px;
    height: 389px;
    background-color: rgba(0, 0, 0, 1);

    @media (min-width: $tablet-width) {
      width: 768px;
      margin: 0;
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      width: 1200px;
      margin: 0;
      padding: 0;
    }
  }
}
