.main-nav {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  // display: flex;
  // justify-content: space-around;
  // flex-grow: 1;

  &__wrapper {
    margin: 0;
    padding: 0;
    margin-bottom: -40px;

    @media (min-width: $tablet-width) {
      margin: 0;
      padding: 0;
      margin-bottom: -40px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

    @media (min-width: $tablet-width) {
      // display: flex;
      // align-items: center;
      display: grid;
      grid-template-columns: 153px 153px 153px 153px 153px;
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    @media (min-width: $desktop-width) {
      // display: flex;
      // align-items: center;
      display: grid;
      grid-template-columns: 240px 240px 240px 240px 240px;
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
  }
}

// .hidden {
//   display: none;
// }
