.page {
  height: 100%;

  @font-face {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url("../../fonts/ptsans.woff2") format("woff2"),
      url("../../fonts/ptsans.woff") format("woff");
    font-display: swap;
  }

  @font-face {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    src: url("../../fonts/ptsansbold.woff2") format("woff2"),
      url("../../fonts/ptsansbold.woff") format("woff");
    font-display: swap;
  }

  &__body {
    font-family: "PT Sans", "Arial", sans-serif;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    margin: 0;
    padding: 0;
    background-color: rgba(231, 229, 229, 1);
  }

  &__body-wrapper {
    width: 320px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 1);

    @media (min-width: $tablet-width) {
      display: block;
      width: 768px;
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      display: block;
      width: 1200px;
      margin: 0 auto;
      box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
    }
  }

  &__secondary-header {
    width: 320px;
    margin-left: -20px;
  }
}
