.personaly {
  width: 284px;
  text-align: center;

  &__presentation {
    margin: 0;
    padding-top: 24px;
    padding-bottom: 20px;
    word-break: break-all;
  }

  &__personaly-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}
