.presentation {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  &__text {
  }

  &__foto {

  }

  &__title {
  }

  &__description {
  }

  &__video {
  }
}
.heading-block {

  &__slogan {
  }

  &__description {
  }
}
.foto-list {

  &__item {
  }

  &__image {
  }

  &__heading {
  }

  &__autor {
  }

  &__liked {
  }

  &__liked--like {
  }
}
