.section-form {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  align-items: center;

  &__opinion {
  }

  &__personaly {
    margin: 0 auto;
  }

  &__contacts {
    margin: 0 auto;
  }

  &__radio {
    margin: 0 auto;
  }

  &__checbox {
    margin: 0 auto;
  }

  &__emotions {
    margin: 0 auto;
  }

  &__emotions-text {
  }

  &__description-input {
  }

  &__legend--bottom {
  }
}
.personaly {

  &__presentation {
  }

  &__personaly-list {
  }
}
.visually-hidden {
}
.personaly-list {

  &__name-item {
  }

  &__text {
  }

  &__input {
  }

  &__surname-item {
  }

  &__patronymic-item {
  }
}
.contacts {

  &__info {
  }

  &__contacts-info {
  }
}
.contacts-info {

  &__phone-item {
  }

  &__text {
  }

  &__input {
  }

  &__connection {
  }

  &__connection-item {
  }

  &__mail-item {
  }
}
.impressions {

  &__title {
  }

  &__list {
  }

  &__item {
  }

  &__item--checked {
  }

  &__item-positively {
  }

  &__item-input {
  }

  &__item-negative {
  }

  &__item-neutral {
  }
}
.attractions {

  &__title {
  }

  &__list {
  }

  &__item {
  }

  &__item--checked {
  }

  &__item-bridge {
  }

  &__item-input {
  }

  &__item-mountain {
  }

  &__item-park {
  }

  &__item-rock {
  }
}
