.section-form {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  align-items: center;

  &__opinion {
    width: 100%;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__controls {
    position: relative;
    margin: 0 auto;

    &-second {
      @media (min-width: $tablet-width) {
        &::before {
          position: absolute;
          content: "";
          top: 48%;
          left: -52%;
          width: 338px;
          height: 1px;
          background-color: rgba(219, 219, 219, 1);
          transform: rotate(90deg);
        }
      }

      @media (min-width: $desktop-width) {
        &::before {
          position: absolute;
          content: "";
          top: 48%;
          left: -32%;
          width: 338px;
          height: 1px;
          background-color: rgba(219, 219, 219, 1);
          transform: rotate(90deg);
        }
      }
    }
  }

  &__radio {
    margin: 0;
    padding: 0;

    @media (min-width: $tablet-width) {
      margin-bottom: 42px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 56px;
    }
  }

  &__checbox {
    margin: 0 auto;
    padding: 0;

    @media (min-width: $tablet-width) {
      margin: 0;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 56px;
    }
  }

  &__emotions {
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      margin: 0 auto 5px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 auto 5px;
    }
  }

  &__wrapper-button {
    margin: 0 auto;
  }
}
