.wrapper-link {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  display: flex;

  &__link-down {
    margin: 0 auto 49px;
    padding: 16px 49px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(129, 179, 210, 1);
    text-decoration: none;
    word-break: break-all;
  }
}
