.wrapper-link {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  width: 284px;
  margin: 0 auto 49px;
  padding: 16px 0;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(129, 179, 210, 1);
  text-decoration: none;
  word-break: break-all;
  justify-content: center;

  &:hover {
    background-color: rgba(102, 158, 192, 1);
  }

  &:focus {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgba(84, 150, 189, 1);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgba(84, 150, 189, 1);
  }

  &-disabled:disabled {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(229, 229, 229, 1);
  }

  @media (min-width: $tablet-width) {
    width: 458px;
    margin: 0 auto 58px;
  }

  @media (min-width: $desktop-width) {
    width: 458px;
    margin: 0 auto 66px;
  }
}
